* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-style: arial;
  background-image: url('../assets/fondo.jpg');
  background-size: cover;
}

.form-login{
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 160px;
  margin-bottom: 50px;
  border-radius: 4px;
  font-family: 'calibri';
  box-shadow: 7px 13px 37px #000;
}

.form-login h5 {
  margin: 0;
  text-align: center;
  height: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
  font-size: 20px;
}

.form-login p{
  height: 40px;
  text-align: center;
  border-bottom: 1px solid;
}

.form-login a {
  text-decoration: none;
  font-size: 14px;
}

.form-login a:hover {
  text-decoration: underline;
}

.botons, .buttons{ 
  width: 100%;
  background: purple;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}
.card, .card-body, .form-control{
  background-color: #24303c;
  border-radius: 4px;
  border: 1px solid #1f53c5;
}

h1{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration:underline;
  text-decoration-color:#1f53c5 ;
}

.h5, p, .tasks-container{
  color: white;
}

.btn-secundary, .btn-primary{
  color: white;
  background:#1f53c5;
}

.form-btn{
  display: flow-root;
}

#map { 
  position:absolute;
  height: 400px;
  width: 400px;
  left: 35%;
}

h1{
  text-align: center;
  font-style: italic;
}

.bttn{
  position: absolute;
  top: 70%;
  left: 47%;
}
.bton{
  position: absolute;
  top: 50%;
  left: 48%;
}
.rep, .rrep{
  font-style: italic;
  font-size: 50px;
  text-align: center;
}

footer{
  text-align: center;
  font-size: 15px;
}