*{
    margin: 0;
    padding: 0;
}
header{
    text-align:center;
    color:white;
    height: 10vh;
    background-color: black;
}

main{
    height: 80vh;
    display: grid;
    grid-template-rows: 30px 5fr;
}
    #nav{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        column-gap: 10px;
        padding: 0 10px;
    }
        li{
            list-style-type:none;
        }
            li span{
                display: grid;
                justify-items: center;
                background-color: black;
                color: white;
                padding: 5px;
                border-radius: 0 0 5px 5px;
                cursor: pointer;
            }
            #_definicion{
                font-family: 'Courier New', Courier, monospace;
                padding: 25px;
                color: black;
                text-align: center;
                background-color: white;
            }
            #_funcion{
                font-family: 'Courier New', Courier, monospace;
                padding: 25px;
                color: black;
                text-align: center;
                background-color: white;
            }
            #_asincronia{
                font-family: 'Courier New', Courier, monospace;
                padding: 25px;
                color: black;
                text-align: center;
                background-color: white;
            }
            #_callback{
                font-family: 'Courier New', Courier, monospace;
                padding: 25px;
                color: black;
                text-align: center;
                background-color: white;
            }
            #_nota{
                font-family: 'Courier New', Courier, monospace;
                padding: 25px;
                color: black;
                text-align: center;
                background-color: white;
            }

footer{
    height: 10vh;
    background-color: black;
}

