*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden;
}

header h1{
    text-align: center;
    height: 5vh;
    background-image: url("..//img/bar.png");
    background-size: contain;
}
#contenedor1{
    text-align: center;
    height: 80vh;
    background-image: url("../img/f.png");
    background-size: contain;
}
#contenedor2{
    text-align: center;
    height: 80vh;
    background-image: url("../img/f.png");
    background-size: contain;
}
footer h3{
    text-align: center;
    height: 5vh;
    background-image: url("../img/bar.png");
    text-align: center;
}
.uno{
    display: inline-block;
}
.cont1{
    color: black;
    position: absolute;
}
.cont2{
    color: black;
    padding-left: 99%;
    position: absolute;
}
